body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #111;
    color: #ddd;
}

header {
    background: linear-gradient(135deg, #6e7579, #2a2d33);
    padding: 20px 40px;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    color: #fff;
}

main {
    transition: margin-left .5s;
    padding: 20px;
}

section {
    background: rgba(34, 34, 34, 0.8);
    margin-bottom: 20px;
    padding: 20px;
    border-left: 5px solid #009578;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: white;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}
